html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
html body {
    width: 100%;
    height: 100%;
    min-height: 10.8rem;
    font-size: 0.16rem;
  }
  .class_S {
    background: url('../../static/image/s_l.png');
    background-size: cover;
  }
  .class_N {
    background: url('../../static/image/n_l.png');
    background-size: cover;
  }
  .class_A {
    background: url('../../static/image/a_l.png');
    background-size: cover;
  }
  .class_P {
    background: url('../../static/image/p_l.png');
    background-size: cover;
  }
  .class_changeTitle {
    display: flex;
    justify-content: space-between;
  }
  .class_changeTitle .title_left {
    color: #4592FE;
    font-size: 0.15rem;
  }
  .class_changeTitle .title_left span {
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    border-radius: 0.1rem;
    margin-right: 0.08rem;
    border: 0.02rem solid #4592FE;
  }
  .class_changeTitle .title_right {
    background: #4592FE;
    color: #fff;
    padding: 0.02rem 0.06rem;
    text-align: center;
    border-radius: 0.05rem;
    font-size: 0.15rem;
  }
  .class_title_list {
    margin-top: 0.11rem;
    height: 5.9rem;
    overflow: auto;
  }
  .classManagement_btn,
  .personManagement_btn {
    position: absolute;
    bottom: 0.42rem;
    left: 50%;
    margin-left: -0.62rem;
  }
  .bg_y {
    background: #FFC151;
  }
  .bg_b {
    background: #6EDBEF;
  }
  .bg_r {
    background: #FF696C;
  }
  .bg_p {
    background: #8B90FF;
  }


  .btn_124 {
    width: 1.24rem;
    height: 0.42rem;
    background: #4994FD;
    border-radius: 0.29rem;
    color: #fff;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.14rem;
  }
  .btn_172 {
    width: 1.72rem;
    height: 0.48rem;
    background: #4994FD;
    border-radius: 0.06rem;
    color: #fff;
    text-align: center;
    line-height: 0.48rem;
    font-size: 0.17rem;
    cursor: pointer;
    margin:auto;
  }
  .btn_148 {
    width: 1.48rem;
    height: 0.32rem;
    border-radius: 0.07rem;
    color: #fff;
    text-align: center;
    line-height: 0.32rem;
    font-size: 0.15rem;
    cursor: pointer;
  }
  .btn_108 {
    width: 1.08rem;
    height: 0.42rem;
    background: #4994FD;
    border-radius: 0.29rem;
    color: #fff;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.14rem;
    cursor: pointer;
  }

  .content_title {
    height: 0.65rem;
    font-size: 0.16rem;
    color: #5C5C5C;
    line-height: 0.65rem;
    text-align:left;
  }
  .class_title {
    height: 0.35rem;
    margin-bottom: 0.2rem;
  }

  .class_list .class_item_y {
    background: #FFF5E3;
  }
  .class_list .class_dis {
    background: #E7EEFF;
  }
  .tab {
    border-bottom: 0.03rem solid #FFC151;
    position: relative;
    height: 0.35rem;
  }
  .tab ul {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .tab ul li {
    float: left;
    color: #fff;
    background: #FFD893;
    text-align: center;
    font-size: 0.14rem;
    padding: 0rem 0.25rem;
    border-radius: 0.06rem 0.06rem 0 0;
    cursor: pointer;
    height: 0.35rem;
    line-height: 0.37rem;
  }
  .tab ul .tab_active {
    background: #FFC151;
  }

  .search_position {
    width: 100%;
    height: 0.36rem;
    margin: 0.15rem 0 0.3rem 0;
  }

  .search_box {
    width: 4.04rem;
    display: flex;
    position: relative;
    background: #E6E8EF;
    border-radius: 0.10rem;
  }
  .search_box img {
    position: absolute;
    width: 0.19rem;
    height: 0.18rem;
    top: 0.1rem;
    left: 0.13rem;
  }
  .search_box input {
    flex: 1;
    margin-left: 0.35rem;
    border: none;
    background: #E6E8EF;
  }
  .el-dialog {
    width: 10rem;
    height: 6.82rem;
    border-radius: 0.23rem;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
.el-dialog__body{
    height:100%;
    overflow:hidden;
}
  .search_box .el-button {
    width: 0.8rem;
    line-height: 0.35rem;
    color: #fff;
    text-align: center;
    font-size: 0.16rem;
    background: #FFC151;
    border-radius: 0 0.1rem 0.1rem 0;
  }
  .el-dialog .dialog_header {
    height: 0.81rem;
    text-align: center;
    line-height: 0.81rem;
    color: #4A4A4A;
    font-size: 0.22rem;
    position: relative;
  }
  .el-dialog .dialog_header .dialog_back {
    top: 0.24rem;
    left: 0.24rem;
    position: absolute;
    height: 0.26rem;
    width: 0.12rem;
    background: url('../../static/image/arrow_left.png') no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  .el-dialog .dialog_center {
    flex: 1;
    border-top: 0.01rem solid #979797;
  }
  .el-dialog .el-dialog__body {
      padding:0px;
  }
  .el-dialog .dialog_center .dialog_l_r {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_title {
    height: 0.5rem;
    line-height: 0.51rem;
    border-bottom: 0.01rem solid #979797;
    font-size: 0.18rem;
    text-align: center;
    color: #4A4A4A;
  }


  .el-dialog .dialog_center .dialog_l_r .dialog_left {
    width: 2.55rem;
    border-right: 0.01rem solid #979797;
  }

.el-dialog  .dialog_center .dialog_l_r .dialog_left .item_delete {
  width: 0.11rem;
  height: 0.13rem;
  padding: 0 0.23rem;
}
.el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top {
  display: flex;
  height: 2.86rem;
  flex-direction: column;
}
.el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .top_list {
    flex: 1;
}
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item {
    width: 100%;
    height: 0.51rem;
    border-bottom: 0.01rem solid #979797;
    display: flex;
    align-items: center;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item .item_photo {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    padding: 0 0.1rem 0 0.17rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item .item_center {
    color: #4A4A4A ;
    flex: 1;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item .item_center .name {
    font-size: 0.15rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item .item_center .name_label {
    font-size: 0.12rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_left .dialog_l_top .item .item_delete {
    width: 0.11rem;
    height: 0.13rem;
    padding: 0 0.23rem;
  }
  .el-dialog .dialog_center .dialog_l_r .dialog_rig {
    flex: 1;
  }
  .wrap .content .content_right {
    flex: 1;
    display: flex;
    padding: 0px;

  }
  .wrap .content .content_right .content1 {
    width: 5.1rem;
    padding-left: 0.3rem;
    box-sizing: border-box;
    position: relative;
    text-align: left;
  }
  .wrap .content .content_right .content1 .left_content {
    height: 6.47rem;
    border-right: 1px #D8D8D8 solid;
    overflow: hidden;
    padding-right: 0.3rem;
    padding-bottom: 0.2rem;
  }
  .wrap .content .content_right .content2 {
    flex: 1;
    padding: 0 0.3rem;
    position: relative;
  }

